In [369]:
import csv
from pathlib import Path

In [370]:
csv_path = Path("Resources/budget_data.csv")

In [371]:
line_num = 0
total_pnl = []
dict_pnl = {}
with open(csv_path, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    csv_header = next(csvreader)
    line_num += 1
    print(f"{csv_header}")
    for row in csvreader:
        print(row)
        date = str(row[0])
        pnl = int(row[1])
        total_pnl.append(pnl)

['Date', 'Profit/Losses']
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

In [372]:
with open(csv_path, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    csv_header = next(csvreader)
    for row in csvreader:
        dict_pnl = {row[1]:row[0] for row in csvreader}

In [373]:
sum_pnl = sum(total_pnl)

In [374]:
print(sum_pnl)

38382578

In [375]:
max_pnl = 0
min_pnl = 0
avg_pnl = 0
count_pnl = 0

In [376]:
changes_pnl = [total_pnl[i+1]-total_pnl[i] for i in range(len(total_pnl)-1)]

In [377]:
for pnl in total_pnl:
    count_pnl += 1
    if min_pnl == 0:
        min_pnl = pnl
    elif pnl > max_pnl:
        max_pnl = pnl
    elif pnl < min_pnl:
        min_pnl = pnl

In [378]:
avg_pnl = round(sum_pnl / count_pnl, 2)

In [379]:
print(max_pnl, min_pnl, avg_pnl, count_pnl)

1170593 -1196225 446309.05 86

In [380]:
sum_pnl

38382578

In [381]:
print(total_pnl)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [382]:
changes_pnl

[116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [383]:
max_change = 0
min_change = 0
avg_change = 0
count_change = 1

In [384]:


for changes in changes_pnl:
    count_change += 1
    if min_change == 0:
        min_change = changes
    elif changes > max_change:
        max_change = changes
    elif changes < min_change:
        min_change = changes

In [386]:
total_changes = sum(changes_pnl)

In [387]:
total_changes

-196785

In [388]:
avg_change = round(total_changes / (count_change -1), 2)

In [389]:
avg_change

-2315.12

In [390]:
print(max_change, min_change, avg_change, count_change)

1926159 -2196167 -2315.12 86

In [391]:
output_path = Path('output.txt')

In [392]:
dict_pnl

{'984655': 'Feb-2010',
 '322013': 'Mar-2010',
 '-69417': 'Apr-2010',
 '310503': 'May-2010',
 '522857': 'Jun-2010',
 '1033096': 'Jul-2010',
 '604885': 'Aug-2010',
 '-216386': 'Sep-2010',
 '477532': 'Oct-2010',
 '893810': 'Nov-2010',
 '-80353': 'Dec-2010',
 '779806': 'Jan-2011',
 '-335203': 'Feb-2011',
 '697845': 'Mar-2011',
 '793163': 'Apr-2011',
 '485070': 'May-2011',
 '584122': 'Jun-2011',
 '62729': 'Jul-2011',
 '668179': 'Aug-2011',
 '899906': 'Sep-2011',
 '834719': 'Oct-2011',
 '132003': 'Nov-2011',
 '309978': 'Dec-2011',
 '-755566': 'Jan-2012',
 '1170593': 'Feb-2012',
 '252788': 'Mar-2012',
 '1151518': 'Apr-2012',
 '817256': 'May-2012',
 '570757': 'Jun-2012',
 '506702': 'Jul-2012',
 '-1022534': 'Aug-2012',
 '475062': 'Sep-2012',
 '779976': 'Oct-2012',
 '144175': 'Nov-2012',
 '542494': 'Dec-2012',
 '359333': 'Jan-2013',
 '321469': 'Feb-2013',
 '67780': 'Mar-2013',
 '471435': 'Apr-2013',
 '565603': 'May-2013',
 '872480': 'Jun-2013',
 '789480': 'Jul-2013',
 '999942': 'Aug-2013',
 '-1196225': 'Sep-2013',
 '268997': 'Oct-2013',
 '-687986': 'Nov-2013',
 '1150461': 'Dec-2013',
 '682458': 'Jan-2014',
 '617856': 'Feb-2014',
 '824098': 'Mar-2014',
 '581943': 'Apr-2014',
 '132864': 'May-2014',
 '448062': 'Jun-2014',
 '689161': 'Jul-2014',
 '800701': 'Aug-2014',
 '1166643': 'Sep-2014',
 '947333': 'Oct-2014',
 '578668': 'Nov-2014',
 '988505': 'Dec-2014',
 '1139715': 'Jan-2015',
 '1029471': 'Feb-2015',
 '687533': 'Mar-2015',
 '-524626': 'Apr-2015',
 '158620': 'May-2015',
 '87795': 'Jun-2015',
 '423389': 'Jul-2015',
 '840723': 'Aug-2015',
 '568529': 'Sep-2015',
 '332067': 'Oct-2015',
 '989499': 'Nov-2015',
 '778237': 'Dec-2015',
 '650000': 'Jan-2016',
 '-1100387': 'Feb-2016',
 '-174946': 'Mar-2016',
 '757143': 'Apr-2016',
 '445709': 'May-2016',
 '712961': 'Jun-2016',
 '-1163797': 'Jul-2016',
 '569899': 'Aug-2016',
 '768450': 'Sep-2016',
 '102685': 'Oct-2016',
 '795914': 'Nov-2016',
 '60988': 'Dec-2016',
 '138230': 'Jan-2017',
 '671099': 'Feb-2017'}

In [393]:
max_pnl

1170593

In [394]:
max_date = ""
for profit, date1 in dict_pnl.items():
    if profit == str(max_pnl):
        print(date1)
        max_date = date1

Feb-2012

In [395]:
max_date

'Feb-2012'

In [396]:
min_date = ""
for profit, date2 in dict_pnl.items():
    if profit == str(min_pnl):
        print(date2)
        min_date = date2

Sep-2013

In [397]:
print(min_date)

Sep-2013

In [398]:
print(max_date)

Feb-2012

In [399]:
with open(output_path, 'w') as file:
    file.write("Financial Analysis \n")
    file.write("---------------------------- \n")
    file.write(f"Total Months: {count_pnl} \n")
    file.write(f"Total: {sum_pnl} \n")
    file.write(f"Average Change: {avg_change} \n")
    file.write(f"Greatest Increase in Profits: {max_date} {max_change} \n")
    file.write(f"Greatest Decrease in Profits: {min_date} {min_change} \n")